# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=flora_amazonica
DB_USER=postgres
DB_PASSWORD=tu_password_aqui

# JWT
JWT_SECRET=cambia_esto_por_una_clave_secreta_segura_en_produccion
JWT_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
CLOUDINARY_FOLDER=flora-amazonica

# Nodemailer (Sprint 3)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=

# General
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:4200
